.title {
    // text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 45px;
}

.image {
    display:flex;
    justify-content:center;
}

.imgs + .imgs{
    margin-left:15px;
}

.comment-wrapper{
    text-align: center;
}

.post {
    text-align: center;
}

.heart {
    display:flex;
    justify-content: flex-end;
    width:915px;
    margin: 0 auto;
    margin-bottom: 10px;
}