.title {
    // text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 45px;
}

// .image {
//     // text-align: center;
// }

// .contents {
//     // text-align: center;
// }

.post {
    text-align: center;
}